{% extends 'base.html' %}

{% block title %}Список объявлений{% endblock %}

{% block content %}
<h2 class="text-center">Объявления</h2>

<div class="board-container">
    {% if ads %}
        {% for ad in ads %}
            <div class="ad-card">
                <h5 class="ad-title"><a href="{% url 'ad_detail' ad.pk %}">{{ ad.title }}</a></h5>
                <p class="ad-meta"><small>Автор: {{ ad.author.username }}</small></p>
                <p class="ad-content">{{ ad.text|truncatewords:15 }}</p>
                <a href="{% url 'ad_detail' ad.pk %}" class="ad-button">Подробнее</a>
            </div>
        {% endfor %}
    {% else %}
        <p>Объявлений пока нет.</p>
    {% endif %}
</div>

<!-- Пагинация -->
{% if is_paginated %}
    <nav aria-label="Навигация">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Предыдущая страница">«</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <span class="page-link">«</span>
                </li>
            {% endif %}

            {% for num in paginator.page_range %}
                {% if num == page_obj.number %}
                    <li class="page-item active"><span class="page-link">{{ num }}</span></li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Следующая страница">»</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <span class="page-link">»</span>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endif %}

<br>
<a href="{% url 'ad_create' %}" class="btn btn-dark">Создать объявление</a>

{% endblock %}